h1{
    color: blueviolet;
}
h2{
    color: blueviolet;
}
p.done{
    color: red;
}
ul li{
    color: blue;
}
ul li.done{
    color: green;
}
ul p.done{
    font-size: 10px;
    color: #000;
}