body{
    background-color: white;
}
.ulo{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}
.paa{
    background-color: #65a9b9;
    max-width: 30%;
    width: 330px;
    text-align: center;
    padding: 20px;
    border: solid 10px;
}

.paa1{
    background-color: yellow;
    position: relative;
    border: solid black ;
    border-width: 20px 10px;
    width: 30%;
    height: 250px;
    margin-left: 390px;
}
.paa2{
    background-color: rgb(255, 0, 0);
    position: relative;
    border: solid black ;
    border-width: 20px 10px;
    width: 30%;
    height: 250px;
    margin-left: 10px;
    justify-content: flex-start;
}