*{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        .box1{
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 200px;
            margin-left: 200px;
        }
        .box2{
            background-color: blue;
            height: 300px;
            width: 500px;
        }
        .bilog1{
            position: relative;
            display: flex;
            justify-content: flex-start;
            margin-top: 150px;
            margin-left: 250px;
        }
        .bilog{
            background-color: rgb(29, 186, 50);
            min-height: 180px;
            height: 170px;
            max-width: 180px;
            width: 176px;
            border-radius: 50%;
        }